
body{
	background:  #9eb092;
	
}

h1{
	background: #edea9d;
	text-align: center;
	border: 3px dotted black;

}

h2{
	text-align: center;
}

#img1 {
	margin-top: 50px;
	margin-left: 70px;
	width:85%;
}

.answer {
display: none;
}	
	